extends layout

block content
    div.container
        p.
            #{team.FullName} scored on average #{points} points per game
            since their bye week, week #{scores.byeWeek}, during the #{year} season.

    if quarters
        div(class="container")
            table(class="table table-striped table-bordered")
                thead
                    tr
                        th Quarter
                        th Average Points
                tbody
                    each quarter in quarters
                        tr
                            td #{quarter.name}
                            td #{quarter.points}